table{
	border: 1px solid #ccc;
	border-collapse: collapse; 
	margin-left: 5px;
	/*width:80%;*/
}

/*.table th,.table td{
	border: 1px solid #ccc;padding: 10px;
}*/

td,th {
	border:solid #000 1px;
}
th{
	background-color: #e5e5e5;
}

/*tr:hover {
    background-color: skyblue;
}*/

#theme{
	border: red 1px solid;
	width: 100%;
	height: 5%;
	font-size: 36px;
	text-align: center;
}

a{
	text-decoration:none

};

.form-control:focus {
    border-color: #ff80ff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
}

td,th{
	text-align: center;
}

