 {% extends "cussystem/father.html" %} 
{% block title %}主要询盘{% endblock%}

{% block content %}
<div class="container">	


	<h1>主要客户列表</h1>
	<button type="button" class="btn btn-primary btn-sm" data-target="#addquote" id="add"> 添加报价 </button>
	<hr/>
	{% if msg %} {{ msg }} {% endif %}
	<table>
		<thead>
			<th>选择</th>
			<th>客户编码</th>
			<th>询盘时间</th>
			<th>客户名</th>
			<th>国家</th>
			<th>来源</th>
			<th>邮箱</th>
			<th>公司</th>
			<th>网址</th>
			<th>客户类型</th>
			<th>客户等级</th>
			<th>跟进平台</th>
			<th>电话</th>
			<th>报价</th>
			<th>订单</th>
			<th>操作</th>
		</thead>

		{% for  c in maincus %}

		<tr>
			<td><input type="checkbox" class="checkone" value={{c.cus_id}}></td>
			<td>{{c.cus_id}}</td>
			<td>{{c.inquirytime}}</td>
			<td>{{c.cname}}</td>
			<td>{{c.ccountry}}</td>
			<td>{{c.cfrom}}</td>
			<td>{{c.cemail}}</td>
			<td>{{c.ccompany}}</td>
			<td>{{c.cwebsite}}</td>
			<td>{{c.ctype}}</td>
			<td>{{c.cgrade}}</td>
			<td>{{c.cplateform}}</td>
			<td>{{c.cphone}}</td>
			<td>
				{% if confirminfo %}
				<a role="button" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="tshowq" name="{{c.cus_id}}">{{c.quotations_set.count}}</a>

				{% else %}

				<a role="button" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="tshowq" name="{{c.cus_id}}">{{c.quotations_set.count}}</a>
				{% endif %}

			</td>
			<td>{{c.corders}}</td>
			<td>
				<form method="post" action="{% url 'cussystem:deletemcs' %}">
					{% csrf_token %}
					<input type="text" name="cus_id" id="cus_id" value={{c.cus_id}} readonly hidden>
					<button type="submit">删除</button>
				</form>
			</td>
		</tr>

		<tr>
			<td colspan="16">
				<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
		      <div class="panel-body">
		      	 <table>

            <thead>
                <th>所属客户</th>
                <th>Gerber名</th>
                <th>报价时间</th>
                <th>单板长(mm)</th>
                <th>单板宽(mm)</th>
                <th>拼版数</th>
                <th>拼版长(mm)</th>
                <th>拼版宽(mm)</th>
                <th>拼版面积(㎡)</th>
                <th>平均面积(㎡)</th>
                <th>数量</th>
                <th>总面积(㎡)</th>
                <th>基价(RMB)</th>
                <th>单价(RMB)</th>
                <th>单价(USD)</th>
                <th>测试费(USD)</th>
                <th>总价(USD)</th>
                <th>板子规格</th>
                <th>备注</th>
            </thead>
            {% for q in quotes %}
            <tr>
	            <td>{{ q.customer.cus_id }}</td>
	            <td>{{ q.part_name }}</td>
	            <td>{{ q.quotetime }}</td>
	            <td>{{ q.single_length }}</td>
	            <td>{{ q.single_width }}</td>
	            <td>{{ q.number_up }}</td>
	            <td>{{ q.panel_length }}</td>
	            <td>{{ q.panel_width }}</td>
	            <td>{{ q.panel_size }}</td>
	            <td>{{ q.average_size }}</td>
	            <td>{{ q.quantity }}</td>
	            <td>{{ q.basic_price }}</td>
	            <td>{{ q.RMB_price|floatformat:3 }}</td>
	            <td>{{ q.USD_price|floatformat:3 }}</td>
	            <td>{{ q.testing_fee }}</td>
	            <td>{{ q.amount }}</td>
	            <td>{{ q.material}},{{q.layer}}层板,{{q.finish_copper}}oz,{{q.thickness}}mm,{{q.solder}},{{q.silkscreen}},{{q.finish}}</td>
	            <td>{{ q.addings }}</td>
        	</tr>

        	{% endfor %}

        </table>
        

		      </div>
		    </div>

			</td>
		
		</tr>

		{% endfor %}

	</table>

	<div id='unseen'>
		<!-- Modal  添加报价的模态框-->
		<div class="modal fade" id="addquote" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false" data-backdrop="static">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">添加报价</h4>
					</div>
				<div class="modal-body">

					<form class="form-horizontal" method="post" action="{% url 'cussystem:addquote'%}">
						{% csrf_token %}

						<div class="row">
							<!-- 左侧 -->
							<div class="col-lg-6">

								<div class="form-group">
									<label for="cus_id_quote" class="col-sm-4 control-label">客户编码</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="cus_id_quote" name= "cus_id_quote" placeholder="客户编码" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="single_length" class="col-sm-4 control-label">单板长(mm)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="single_length" name= "single_length" placeholder="单板长(mm)">
									</div>
								</div>


								<div class="form-group">
									<label for="panel_length" class="col-sm-4 control-label">拼板长(mm)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="panel_length" name= "panel_length" placeholder="拼板长(mm)">
									</div>
								</div>

								<div class="form-group">
									<label for="number_up" class="col-sm-4 control-label">拼板数</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="number_up" name= "number_up" placeholder="拼板数">
									</div>
								</div>

								

								<div class="form-group">
									<label for="basic_price" class="col-sm-4 control-label">基价</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="basic_price" name= "basic_price" placeholder="基价">
									</div>
								</div>

								<div class="form-group">
									<label for="exchange_rate" class="col-sm-4 control-label">汇率</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="exchange_rate" name= "exchange_rate" placeholder="汇率">
									</div>
								</div>

								<div class="form-group">
									<label for="testing_fee" class="col-sm-4 control-label">测试费</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="testing_fee" name= "testing_fee" placeholder="测试费">
									</div>
								</div>

								<div class="form-group">
									<label for="material" class="col-sm-4 control-label">材料</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="material" name= "material" placeholder="材料">
									</div>
								</div>

								<div class="form-group">
									<label for="layer" class="col-sm-4 control-label">层数</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="layer" name= "layer" placeholder="层数">
									</div>
								</div>

								<div class="form-group">
									<label for="inner_copper" class="col-sm-4 control-label">内层铜厚(oz)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="inner_copper" name= "inner_copper" placeholder="内层铜厚">
									</div>
								</div>
								
								<div class="form-group">
									<label for="thickness" class="col-sm-4 control-label">板厚</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="thickness" name= "thickness" placeholder="板厚">
									</div>
								</div>

								<div class="form-group">
									<label for="solder" class="col-sm-4 control-label">阻焊</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="solder" name= "solder" placeholder="阻焊">
									</div>
								</div>

								<div class="form-group">
									<label for="part_name" class="col-sm-4 control-label">Gerber名</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="part_name" name= "part_name" placeholder="Gerber名">
									</div>
								</div>


							</div>


							<!-- 右侧 -->
							<div class="col-lg-6">

								<div class="form-group">
									<label for="quantity" class="col-sm-4 control-label">数量</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="quantity" name= "quantity" placeholder="数量">
									</div>
								</div>

								<div class="form-group">
									<label for="single_width" class="col-sm-4 control-label">单板宽(mm)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="single_width" name= "single_width" placeholder="单板宽(mm)">
									</div>
								</div>

								<div class="form-group">
									<label for="panel_width" class="col-sm-4 control-label">拼板宽(mm)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="panel_width" name= "panel_width" placeholder="拼板宽(mm)">
									</div>
								</div>

								<div class="form-group">
									<label for="panel_size" class="col-sm-4 control-label">拼版面积(㎡)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="panel_size" name= "panel_size" placeholder="拼版面积(㎡)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="average_size" class="col-sm-4 control-label">平均面积(㎡)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="average_size" name= "average_size" placeholder="平均面积(㎡)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="amount_size" class="col-sm-4 control-label">总面积(㎡)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="amount_size" name= "amount_size" placeholder="总面积(㎡)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="RMB_price" class="col-sm-4 control-label">单价(RMB)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="RMB_price" name= "RMB_price" placeholder="单价(RMB)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="USD_price" class="col-sm-4 control-label">单价(USD)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="USD_price" name= "USD_price" placeholder="单价(USD)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="amount" class="col-sm-4 control-label">总价(USD)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="amount" name= "amount" placeholder="总价(USD)" readonly>
									</div>
								</div>

								<div class="form-group">
									<label for="finish_copper" class="col-sm-4 control-label">完成铜厚(oz)</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="finish_copper" name= "finish_copper" placeholder="完成铜厚(oz)">
									</div>
								</div>

								<div class="form-group">
									<label for="silkscreen" class="col-sm-4 control-label">油墨</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="silkscreen" name= "silkscreen" placeholder="油墨">
									</div>
								</div>

								<div class="form-group">
									<label for="finish" class="col-sm-4 control-label">表面处理</label>
									<div class="col-sm-8">
										<input type="text" class="form-control" id="finish" name= "finish" placeholder="表面处理">
									</div>
								</div>

								<div class="form-group">
								<label for="addings" class="col-sm-4 control-label">备注</label>
								<div class="col-sm-8">
									<input type="text" class="form-control" id="addings" name= "addings" placeholder="备注">
								</div>
							</div>

							</div>

						</div>
				

						<div class="form-group">
							<div class="col-sm-offset-10 col-sm-10">
								<button type="submit" class="btn btn-default">确认</button>
							</div>
						</div>

					</form>


					</div>
						
				</div>
			</div>
		</div>

	</div>


    

</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function(){
			
			$("#add").click(function(){

				var cus_id = $(".checkone:checked").attr("value");

				if(cus_id){
					$("#cus_id_quote").val(cus_id);
					$("#addquote").modal("show");

					$('#panel_length, #panel_width, #number_up, #average_size, #quantity,#amount_size, #basic_price, #RMB_price, #USD_price, #exchange_rate,#testing_fee, #amount').bind("input propertychange", function(){
						var panel_length = Number($("#panel_length").val());
						var panel_width = Number($("#panel_width").val());
						var number_up = Number($("#number_up").val());
						var average_size = Number($("#average_size").val());
						var quantity = Number($("#quantity").val());
						var basic_price = Number($("#basic_price").val());
						var exchange_rate = Number($("#exchange_rate").val());
						var testing_fee = Number($("#testing_fee").val());

						$("#panel_size").val(panel_length*panel_width/1000000);
						$("#average_size").val(panel_length*panel_width/1000000/number_up);
						$("#amount_size").val(panel_length*panel_width/1000000/number_up*quantity);

						$("#RMB_price").val(basic_price*(panel_length*panel_width/1000000/number_up));
						$("#USD_price").val(basic_price*(panel_length*panel_width/1000000/number_up)/exchange_rate);
						$("#amount").val(basic_price*(panel_length*panel_width/1000000/number_up)/exchange_rate*quantity+testing_fee);

					});
				}else{
					alert("请选择一个编码");
				}

			});

			$("#tshowq").click(function(){
				$("#collapseOne").collapse('toggle');
				
				var cus_id = $("#tshowq").attr("name");
				alert(cus_id);
				// $.post("{% url 'cussystem:get_quotes' %}", JSON.stringify({cus_id:});

			});


		});

	</script>

{% endblock%}

